%section.container
  = form_with scope: :session, url: login_path, html: { 'data-turbo': 'false' } do |f|
    .d-flex.flex-column.align-items-center.my-4
      .my-2
        = f.label :email, class: 'visually-hidden'
        = f.email_field :email, placeholder: 'email@example.com', class: 'form-control'

      .my-2
        = f.label :password, class: 'visually-hidden'
        = f.password_field :password, placeholder: 'Password', class: 'form-control'

      .my-4
        = f.submit 'Log in', class: 'btn btn-success'
