%section.container
  = form_with model: @user, local: true, html: { 'data-turbo': 'false' } do |f|
    .d-flex.flex-column.align-items-center.my-4
      .my-2
        = f.label :blog_name, class: 'visually-hidden'
        = f.text_field :blog_name, placeholder: 'Blog name', class: 'form-control'
        = render ErrorMessageComponent.new(model: @user, field: :blog_name)

      .my-2
        = f.label :first_name, class: 'visually-hidden'
        = f.text_field :first_name, placeholder: 'First name', class: 'form-control'
        = render ErrorMessageComponent.new(model: @user, field: :first_name)

      .my-2
        = f.label :last_name, class: 'visually-hidden'
        = f.text_field :last_name, placeholder: 'Last name', class: 'form-control'
        = render ErrorMessageComponent.new(model: @user, field: :last_name)

      .my-2
        = f.label :email, class: 'visually-hidden'
        = f.email_field :email, placeholder: 'email@example.com', class: 'form-control'
        = render ErrorMessageComponent.new(model: @user, field: :email)

      .my-2
        = f.label :password, class: 'visually-hidden'
        = f.password_field :password, placeholder: 'Password', class: 'form-control'
        = render ErrorMessageComponent.new(model: @user, field: :password)

      .my-4
        = f.submit 'Create an account', class: 'btn btn-success'
