.container.my-5
  .text-center
    %h1= "Welcome to #{@user.blog_name}"
    %p= "Written by #{@user.full_name}"

  %section#posts.container.my-5
    - @user.posts.each do |post|
      .border.rounded
        .my-3
          = render 'posts/post', post: post

  - if logged_in?
    .text-center
      = link_to 'New Post', new_user_post_path(@user), class: 'btn btn-primary'