.container-xl.mt-5
  %h1.text-center Blog of Blogs

  .container.my-5
    %h2.mb-4 Meet our bloggers
  
    .d-flex.flex-wrap.justify-content-evenly
      - @users.each do |user|
        .my-3
          = render CardComponent.new(img: 'defaults/avatar.png', title: user.blog_name, text: 'Some quick example text to build on the card title and make up the bulk of the cards content.', href: user_path(user))

  .container.my-5
    %h2.mb-4 Check our posts

    - @posts.each do |post|
      .my-4
        %h3= post.title
        %strong= "Author: #{post.user.first_name}"
        %p= post.body        
        = link_to 'Go to post', user_post_path(post.user.slug, post.slug), class: 'btn btn-primary'        
        = link_to 'Go to blog', user_path(post.user.slug), class: 'btn btn-secondary'
