%section.container
  = form_with model: [@user, @user.posts.build], html: { 'data-turbo': 'false' } do |f|
    .d-flex.flex-column.align-items-center.my-4
      .my-2
        = f.label :title, class: 'visually-hidden'
        = f.text_field :title, placeholder: 'Title', class: 'p-1'

      .mt-5.mb-3
        = f.label :body, class: 'visually-hidden'
        = f.rich_text_area :body, placeholder: 'A long time ago in a galaxy far far away...'

      .my-3
        = f.submit 'Create Post', class: 'btn btn-success'