= form_with model: [@user, @user.posts.build], html: { 'data-turbo': 'false' } do |f|
  %div
    = f.label :title
    = f.text_field :title

  %div
    = f.label :body
    = f.text_area :body

  %div
    = f.submit